.font {
    font-size: "12px"
}

.back-btn {
    padding: 12px;
    background: #fff;
    color: #4b5563;
    border: 1.5px solid #9ca3af;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.back-btn:hover {
    background: #f3f4f6;
    border-color: #6b7280;
}